@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap";
body{margin:0;overflow-x:hidden}
header{display:flex;align-items:center; }
.tittle{font-size:40px;font-family:'Poppins',sans-serif;margin-left:80px; transition:  .2s, opacity .15s}
.abas{ position: absolute; right: 50px;}
.aba{font-family:'Poppins',sans-serif;font-weight:500;text-decoration:none;margin:30px;color:#000}
.home::before{position:absolute;content:"";width:0;height:3px;background-color:#000;transition:all .3s}
.home:hover::before{width:48px}
.duvidas::before{position:absolute;content:"";width:0;height:3px;background-color:#000;transition:all .3s}
.duvidas:hover::before{width:65px}
.recursos::before{position:absolute;content:"";width:0;height:3px;background-color:#000;transition:all .3s}
.recursos:hover::before{width:73px}
.whatsapp{color:#fff;padding:10px;padding-left:20px;padding-right:20px;border-radius:50px;background-color:#6c178d;transition:all.7s}
.whatsapp:hover{animation:bg 5s ease infinite}
@keyframes bg {
50%{background-position:50%;background-color:#39d841}
200%{background-position:100%;background-color:#39d841}
}
.tres-barras{
    position: absolute;
    top: 40px;
    right: 30px;
    opacity: 0;
    pointer-events: none;
}

.prim-barra{
    height: 3px;
    width: 25px;
    background-color: rgb(0, 0, 0);
    border-radius: 100px;
    transition: all .3s;
}
.seg-barra{
    margin-top: 5px;
    height: 3px;
    width: 25px;
    background-color: rgb(0, 0, 0);
    border-radius: 100px;
    transition: all .3s;
}

.ter-barra{
    margin-top: 5px;
    height: 3px;
    width: 25px;
    background-color: rgb(0, 0, 0);
    border-radius: 100px;
    transition: all .3s;
}

    .tittle-regra{
        font-family:'Poppins',sans-serif;
        font-size: 120px;
        color: #6c178d;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3%;
    }

.número-regra{
    margin-bottom: 5%;
     display:grid;
     text-align:center;
     align-items:center;
     justify-content:center;
     font-family:'Poppins',sans-serif;
     font-size:16px;
     max-width:700px;
     background-color:#e7d4ee;
     padding:8px;
     cursor:pointer;
     margin:0 auto;
     margin-top:2%;
     transition:all .3s;
    
   
    }

.número-regra.active{
    background-color:#6c178d;
    color:#fff
}

.regra{font-family:'Poppins'; 
    overflow:hidden;
    display:none;
    align-items:center;
    justify-content:center;
    max-width:684px;
    margin:0 auto;
    padding:0;
    text-align:justify;
    font-size:15px;
    height:100px;
    background-color:#fff;
    padding:16px;
    border-bottom-right-radius:30px;
    border-bottom-left-radius:30px;
    box-shadow:5px 0 20px rgba(0,0,0,0.3);
    direction: ltr;
    transition:all .3s;
   
}

@media only screen and (max-width: 2041px){
  
    .tittle-mapa{
        font-size: 40px;
     
    }
    
    .mapa{
        width: 600px;
        height: 300px;
        transform: translate(655px, 100px);
    
    }
    
    .container-local{
        transform: translate(590px, 90px);
        width: 620px;
        height: 310px;
        margin-bottom: 5%;
    }
    
    .envio{
        transform: translate(750px, 20px);
        scale: 1;
    }


    


}
@media only screen and (max-width: 1935px){
.tittle-mapa{display:flex;font-family:'Poppins',sans-serif;font-size:45px;justify-content:center;color:#6c178d}
.mapa{position:absolute;display:flex;border-radius:30px;transform:translate(400px,40px); width: 700px; height: 360px;}
.container-local{position:absolute;width:700px;height:370px;border-radius:30px;background-color:#6c178d;transform:translate(363px,30px);scale:1.1;z-index:-1}
.envio{
    transform: translate(580px, 20px);
}
}
@media only screen and (max-width: 1505px){
    .malas{
        scale: 1.2;
         margin-left:0px;
    }
    .tittle-mapa{
        font-size: 40px;
     
    }
    
    .mapa{
        width: 900px;
        height: 300px;
        transform: translate(255px, 100px);
    
    }
    
    .container-local{
        transform: translate(225px, 90px);
        width: 920px;
        height: 310px;
    }
    
    .envio{
        transform: translate(300px, 20px);
        scale: 1;
    }
}

@media only screen and (max-width: 1441px){

    .tittle-mapa{
        font-size: 40px;
     
    }
    
    .mapa{
        width: 500px;
        height: 300px;
        transform: translate(455px, 100px);
    
    }
    
    .container-local{
        transform: translate(405px, 90px);
        width: 520px;
        height: 310px;
    }
    
    .envio{
        transform: translate(300px, 20px);
        scale: 1;
    }
}


@media only screen and (max-width: 1415px) {
    .imagem{
        scale: 1.3;
    }

    .malas{
        scale: 1.1;
         margin-left:-70px;
    }
}

@media only screen and (max-width: 1335px) {
    .imagem{
        scale: 1.2;
    }
    .fundo{
        scale: 1.6;
    }

    .tittle-viagem{
        transform: translate(70px, 190px);
    }

    .subtittle-viagem{
        transform: translate(310px, 180px);
    }
    .malas{
        scale: 1.1;
         margin-left:-120px;
    }

    
}

@media only screen and (max-width: 1255px) {
    .imagem{
        scale: 1.1;
    }
    .fundo{
        scale: 1.5;
    }

    .tittle-viagem{
        transform: translate(60px, 190px);
    }

    .subtittle-viagem{
        transform: translate(300px, 180px);
    }

    .malas{
        scale: 1.0;
         margin-left:-120px;
         transform:translate(150px,30px)
    }

    .card{
        scale: 0.95;
        margin-top: 0%;
    }
}

@media only screen and (max-width: 1215px){
    .malas{
        scale: 0.9;
         margin-left:-170px;
         transform:translate(110px,90px);
         animation: none;
    }
}

@media only screen and (max-width: 1106px){
    .malas{
        scale: 0.9;
         margin-left:-150px;
         transform:translate(200px,90px);
         animation: none;
        display: none;
}

.card{
    scale: 1;
    right: 200px;
}
.tittle-mapa{
    font-size: 40px;
 
}

.mapa{
    width: 520px;
    height: 300px;
    transform: translate(255px, 100px);

}

.container-local{
    transform: translate(225px, 90px);
    width: 540px;
    height: 310px;
}

.envio{
    transform: translate(300px, 20px);
    scale: 1;
}
}


@media only screen and (max-width: 935px) {
    .imagem{
        scale: 0.86;
    }
    .fundo{
        scale: 1.1;
    }

    .tittle-viagem{
        scale: 0.85;
        transform: translate(10px, 190px);
    }

    .subtittle-viagem{
        scale: 0.85;
        transform: translate(270px, 190px);
    }

    .card{
        scale: 1;
        right: 150px;
    }
    .tittle-mapa{
        font-size: 40px;
     
    }

    .mapa{
        width: 520px;
        height: 300px;
        transform: translate(120px, 100px);

    }

    .container-local{
        transform: translate(105px, 90px);
        width: 540px;
        height: 310px;
    }

    .envio{
        transform: translate(200px, 20px);
        scale: 1;
    }
}

@media only screen and (max-width: 915px) {

    .regra{
        width: 77.3vw;
    }

    .número-regra{
        width: 80vw;
    }

    .abas{
        opacity: 0;
        pointer-events: none;
        transition: all .3s;
    }

    .tres-barras{
        position: absolute;
        top: 40px;
        right: 30px;
        opacity: 1;
        pointer-events: all;
    }

    .prim-barra.aberto{
        transform: rotateY(40deg ) translateY(8px);
        opacity: 0;
        background-color: black;
    }
    .seg-barra.aberto{
        transform: rotate(50deg);
        background-color: black;
    }
    .ter-barra.aberto{
        transform: rotate(-50deg) translate(5px, -6px);
        background-color: black;
    } 


    .abas.aberto{
        pointer-events: all;
        opacity: 1;
        left: 90px;
    }

    header.aberto{
        height: 120px;
        box-shadow: -5px 0px 20px rgba(0,0,0,0.3);
    }

    .tittle.aberto{
      opacity: 0;
        margin-left: -200px;
        pointer-events: none;
    }

    
    .tittle-mapa{
        font-size: 40px;
     
    }

    .mapa{
        width: 520px;
        height: 300px;
        transform: translate(120px, 100px);

    }

    .container-local{
        transform: translate(105px, 90px);
        width: 540px;
        height: 310px;
    }

    .envio{
        transform: translate(200px, 20px);
        scale: 1;
    }
}


@media only screen and (max-width: 735px){
    .question{
        margin-left: 5%;
        margin-right: 5%;
    }
    .resposta{
        margin-left: 5%;
        margin-right: 5%;
    }

    .abas.aberto{
        font-size: 15px;
        max-width: 700px;
    }

    .tittle-mapa{
        font-size: 40px;
     
    }

    .card{
        right: 80px;
    }

    .mapa{
        width: 520px;
        height: 300px;
        transform: translate(80px, 100px);

    }

    .container-local{
        transform: translate(65px, 90px);
        width: 535px;
        height: 310px;
    }

    .envio{
        transform: translate(160px, 20px);
        scale: 1;
    }
}

@media only screen and (max-width: 692px){
    .abas.aberto{
        font-size: 13px;
        max-width: 700px;
    }

    .card{
        right: 60px;
    }

    .imagem{
        display: none;
    }

    .fundo{
        display: none;
    }

    .tittle-viagem{
        scale: 0.9;
    }
    .subtittle-viagem{
        scale: 0.9;
    }
}
header{
    margin-bottom: 5%;
}
@media only screen and (max-width: 660px){
.tittleD{
    font-size: 70px;
    transform: translate(10px, -20px);
}
.tittle-viagem{
    scale: 0.8;
}
.subtittle-viagem{
    scale: 0.8;
    transform: translate(280px, 195px);
}


.card{
    right: 40px;
}

.whatsapp{
    color: #000;
    padding: 0;
    background-color: transparent;
}

.abas{
    transform: translate(-90px, -10px);
    scale: 0.9;
    width: 600px;
}

.resposta{
    font-size: 13px;
}
}
@media only screen and (max-width: 625px){

    .regra{
        font-size: 12px;
    }

    .tittle-viagem{
        scale: 0.8;
        width: 480px;
        transform: translate(-0px, 195px);
    }
    .subtittle-viagem{
        scale: 0.8;
        transform: translate(270px, 200px);
    }

    .card{
        scale: 1;
        right: 20px;
    }

    .tittle-mapa{
        font-size: 40px;
     
    }

    .mapa{
        width: 500px;
        height: 300px;
        transform: translate(60px, 100px);

    }

    .container-local{
        transform: translate(45px, 90px);
        width: 520px;
        height: 310px;
    }

    .envio{
        transform: translate(120px, 20px);
        scale: 1;
    }

}

@media only screen and (max-width: 565px){
    .card{
        scale: 0.97;
        right: 4px;
    }
    
    .tittle-viagem{
        scale: 0.8;
        width: 480px;
        transform: translate(-50px, 195px);
    }
    .subtittle-viagem{
        scale: 0.8;
        transform: translate(230px, 200px);
    }
    
    .mapa{
       right: 80px;

    }

    .container-local{
      right: 60px;
      scale: 1.05;
    }

    .envio{
        transform: translate(120px, 20px);
        scale: 1;
    }
}


@media only screen and (max-width: 535px){

    .regra{
        font-size: 12px;
    }

    .abas{
        scale: 0.8;
        transform: translate(-180px, -10px);
    }
    .aba{
        margin: 25px;
    }
    .resposta{
        font-size: 12px;
    }

    .tittle-viagem{
        scale: 0.8;
        width: 480px;
        transform: translate(-60px, 180px);
    }
    .subtittle-viagem{
        scale: 0.8;
        transform: translate(220px, 185px);
    }

    .card{
        scale: 0.8;
        right: -20px;
        margin-top: -30%;
      
    }

    .tittle-mapa{
        font-size: 40px;
     
    }

    .mapa{
        width: 450px;
        height: 300px;
        transform: translate(55px, 100px);

    }

    .container-local{
        transform: translate(45px, 90px);
        width: 460px;
        height: 310px;
    }

    .envio{
        transform: translate(90px, 20px);
        scale: 1;
    }
}



@media only screen and (max-width: 490px){

    .regra{
        width: 76.7vw;
    }

    .tittle-regra{
        font-size: 80px;
    }

    .tittle-viagem{
        scale: 0.7;
        width: 480px;
        transform: translate(-120px, 180px);
    }
    .subtittle-viagem{
        scale: 0.7;
        transform: translate(200px, 195px);
    }

    .card{
        scale: 0.8;
        right: -40px;
        margin-top: -30%;
      
    }

    .tittle-mapa{
        font-size: 40px;
     
    }

    .mapa{
        width: 370px;
        height: 300px;
        transform: translate(30px, 100px);

    }

    .container-local{
        transform: translate(18px, 90px);
        width: 390px;
        height: 310px;
    }

    .envio{
        transform: translate(50px, 20px);
        scale: 1;
    }
}

@media only screen and (max-width: 442px){

    .abas{
        scale: 0.75;
        transform: translate(-220px, -10px);
    }

    .resposta{
        height: 150px;
        font-size: 11px;
    }

    .tittle-viagem{
        scale: 0.6;
        width: 480px;
        transform: translate(-180px, 180px);
    }
    .subtittle-viagem{
        scale: 0.6;
        transform: translate(180px, 210px);
    }

    .tittleD{
        font-size: 50px;
    }
    .subtittleD{
        transform: translate(0px, 30px);
        font-size: 12px;
    }

    .question{
        transform: translate(0px, 80%);
    }

    .aba{
        margin: 25px;
    }

    .card{
        scale: 0.8;
        right: -35px;
        margin-top: -50%;
        width: 500px;
    }

    
    .tittle-mapa{
        font-size: 30px;
        margin-top: -67%;
    }


    .lerMais{
        margin-left: 350px;
    }

    .lerMenos{
        margin-left: 350px;
    }

    .mapa{
        width: 220px;
        height: 300px;
        transform: translate(-10px, 100px);

    }

    .container-local{
        transform: translate(-19px, 90px);
        width: 240px;
        height: 310px;
    }

    .envio{
        transform: translate(10px);
        scale: 0.8;
    }

}


@media only screen and (max-width: 402px) {


    
    .regra{
        font-size: 11px;
    }

    .abas{
        scale: 0.70;
        transform: translate(-240px, -15px);
    }
    .aba{
        margin: 25px;
    }

    .card{
        scale: 0.8;
        right: -55px;
        margin-top: -60%;
        width: 500px;
      
    }

    .tittle-viagem{
        scale: 0.6;
        width: 480px;
        transform: translate(-180px, 180px);
    }
    .subtittle-viagem{
        scale: 0.6;
        transform: translate(170px, 210px);
    }

    .tittle{
        display: none;
    }
  }

  @media only screen and (max-width: 392px){

    .regra{
        width: 76vw;
    }

    .tittle-viagem{
        scale: 0.58;
        width: 480px;
        transform: translate(-210px, 180px);
    }
    .subtittle-viagem{
        scale: 0.58;
        transform: translate(170px, 218px);
    }

    .card{
        scale: 0.8;
        right: -35px;
        margin-top: -90%;
        width: 450px;
        height: 550px;
        
      
    }

    .lerMais{
        margin-left: 300px ;
        font-size: 20px;
    }

    .lerMenos{
            margin-left: 300px ;
            font-size: 20px;
    }
   

    .tittle-mapa{
        font-size: 30px;
        margin-top: -97%;
    }

    .mapa{
        width: 240px;
        height: 300px;
        transform: translate(7px, 100px);

    }

    .container-local{
        transform: translate(-1px, 90px);
        width: 260px;
        height: 310px;
    }

    .envio{
        transform: translate(-10px);
        scale: 0.7;
    }
   
  }

  @media only screen and (max-width: 367px){

    .regra{
        font-size: 10px;
    }

    .tittle-regra{
        font-size: 50px;
        margin-top: 25%;
    }

    .card{
        scale: 0.75;
        right: -50px;
        width: 450px;
        height: 550px;
    }

    .lerMais{
        margin-left: 300px;
    }

    .lerMenos{
        margin-left: 300px;
    }
    .tittle-viagem{
        scale: 0.5;
        width: 480px;
        transform: translate(-260px, 180px);
    }
    .subtittle-viagem{
        scale: 0.5;
        transform: translate(220px, 238px);
    }

    .tittle-mapa{
        font-size: 30px;
        margin-top: -97%;
    }

    .mapa{
        width: 240px;
        height: 300px;
        transform: translate(50px, 100px);

    }

    .container-local{
        transform: translate(35px, 90px);
        width: 260px;
        height: 310px;
    }

    .envio{
        transform: translate(-30px);
        scale: 0.7;
    }
  }
  @media only screen and (max-width: 337px){
    
    .regra{
        width: 75.6vw;
    }
    
    .aba{
        margin: 20px;
    }

    .abas{
        scale: 0.65;
        transform: translate(-290px, -15px);
    }
    .resposta{
        font-size: 10px;
    }

    .card{
        scale: 0.7;
        right: -59px;
    }

    .tittle-viagem{
        scale: 0.5;
        width: 480px;
        transform: translate(-310px, 180px);
    }
    .subtittle-viagem{
        scale: 0.5;
        transform: translate(130px, 238px);
    }

    
    .tittle-mapa{
        font-size: 30px;
        margin-top: -97%;
    }

    .mapa{
        width: 240px;
        height: 300px;
        transform: translate(50px, 100px);

    }

    .container-local{
        transform: translate(35px, 90px);
        width: 260px;
        height: 310px;
    }

    .envio{
        transform: translate(-40px);
        scale: 0.7;
    }
  }
  
  @media only screen and (max-width: 307px){
    .abas{
        scale: 0.65;
        transform: translate(-290px, -15px);
    }

    .aba{
        margin: 15px;
    }

    .tittle{
        display: none;
    }

    .tittleD{
        font-size: 45px ;
        margin-top: 20%;
    }

    .subtittleD{
        transform: translate(0px,34px);
        font-size: 11px;
    }

    .card{
        
        scale: 0.65;
        right: -75px;
    }

    .tittle-viagem{
        scale: 0.47;
        width: 480px;
        transform: translate(-350px, 180px);
    }
    .subtittle-viagem{
        scale: 0.5;
        transform: translate(110px, 238px);
    }
    
    .zero{
        height: 600px;
    }
  }
